<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Finance</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="../static/styles/finance-style.css">
        <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script src="../static/scripts/bootstrap-datetimepicker.js"></script>        
    </head>

        <div class="container">
            <div class="row">
                <!-- 侧边导航栏 -->
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                      <li role="presentation" class="active"><a href="#">HOME</a></li>
                      <li role="presentation"><a href="#">日常消费</a></li>
                      <li role="presentation"><a href="#">投资</a></li>
                      <li role="presentation"><a href="#">谈朋友</a></li>
                      <li role="presentation"><a href="#">负债</a></li>                      
                    </ul>
                </div>
                <div class="col-md-7">
                    <div id="eTable1" style="width:600px; height:400px;"></div>       
                </div>
            </div>
        </div>
        <!-- Echarts图表 动态更新数据-->
        <script>

            var myChart = echarts.init(document.querySelector('#eTable1'));

            myChart.setOption({
                title: {
                    text: '近12个月P2P投资额'
                },
                tooltip: {},
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: "invest",
                    data: [],
                    type: 'line'
                }]
            });

            fetch("/invest")
                .then(function(response) {
                    if(response.ok) {
                        json = response.json()
                        return json
                    }
                })
                .then(function(json) {
                     myChart.setOption({
                        xAxis: {
                            data: json['date'].reverse()
                        },
                        series: [{
                            name: 'invest',
                            data: json['invest'].reverse()
                        }]
                    });                        
                })

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="../static/scripts/finance.js"></script>        
    </body>

</html>