<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Finance</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/bootstrap-datetimepicker.css">
        <link rel="stylesheet" href="../static/styles/finance-style.css">
        <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script src="../static/scripts/bootstrap-datetimepicker.js"></script>        
    </head>

        <div class="container">
            <div class="row">
                <!-- 侧边导航栏 -->
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                      <li role="presentation" class="active"><a href="#">HOME</a></li>
                      <li role="presentation"><a href="#">日常消费</a></li>
                      <li role="presentation"><a href="#">投资</a></li>
                      <li role="presentation"><a href="#">朋友</a></li>
                      <li role="presentation"><a href="#">负债</a></li>                      
                    </ul>
                </div>
                <div class="col-md-7">
                    <div id="total" style="width:600px; height:400px;"></div>
                    <div id="gf" style="width:600px; height:400px;"></div>  
                    <div id="invest" style="width:600px; height:400px;"></div>
                    <div id="debt" style="width:600px; height:400px;"></div>   
                </div>              
            </div>
        </div>
        <!-- Echarts图表 动态更新数据-->
         <script>
            var myChartTotal = echarts.init(document.querySelector('#total'));

            myChartTotal.setOption ({
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data: ['餐费', '麦当劳','交通费','杂类支出','负债还款','投资']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis:  {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: []
                },
                series: [
                    {
                        name: '餐费',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    },
                    {
                        name: '麦当劳',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    },
                    {
                        name: '交通费',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    },
                    {
                        name: '杂类支出',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    },
                    {
                        name: '负债还款',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    },
                    {
                        name: '投资',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    }
                ]
            });
            
            fetch("/total")
                .then(function(response) {
                    if(response.ok) {
                        json = response.json()
                        return json
                    }
                })
                .then(function(json) {
                     myChartTotal.setOption({
                        yAxis: {
                            data: json['date'].reverse()
                        },
                        series: [
                            {
                                name: '餐费',
                                data: json['meal'].reverse()
                            },
                            {
                                name: '麦当劳',
                                data: json['mc'].reverse()
                            },
                            {
                                name: '交通费',
                                data: json['traffic'].reverse()
                            },
                            {
                                name: '杂类支出',
                                data: json['other'].reverse()
                            },
                            {
                                name: '负债还款',
                                data: json['debt'].reverse()
                            },
                            {
                                name: '投资',
                                data: json['invest'].reverse()
                            }
                        ]
                    });
                })
        </script>
        <script>
            var myChartInvest = echarts.init(document.querySelector('#invest'));

            myChartInvest.setOption({
                title: {
                    text: '近12个月P2P投资额'
                },
                tooltip: {},
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: "invest",
                    data: [],
                    type: 'line'
                }]
            });

            fetch("/invest")
                .then(function(response) {
                    if(response.ok) {
                        json = response.json()
                        return json
                    }
                })
                .then(function(json) {
                     myChartInvest.setOption({
                        xAxis: {
                            data: json['date'].reverse()
                        },
                        series: [{
                            name: 'invest',
                            data: json['invest'].reverse()
                        }]
                    });                        
                })
        </script>
        <script>
            var myChartGf = echarts.init(document.querySelector('#gf'));

            myChartGf.setOption ({
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                legend: {
                    data: ['谈朋友', '其他杂类支出']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis:  {
                    type: 'value'
                },
                yAxis: {
                    type: 'category',
                    data: []
                },
                series: [
                    {
                        name: '谈朋友',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    },
                    {
                        name: '其他杂类支出',
                        type: 'bar',
                        stack: '总量',
                        data: []
                    }                  
                ]
            });
            
            fetch("/gf")
                .then(function(response) {
                    if(response.ok) {
                        json = response.json()
                        return json
                    }
                })
                .then(function(json) {
                     myChartGf.setOption({
                        yAxis: {
                            data: json['date'].reverse()
                        },
                        series: [
                            {
                                name: '谈朋友',
                                data: json['gfpay'].reverse()
                            },
                            {
                                name: '其他杂类支出',
                                data: json['otherpay'].reverse()
                            },
                        ]
                    });                        
                })               
        </script>
        <script>
            var myChartDebt = echarts.init(document.querySelector('#debt'));

            myChartDebt.setOption({
                title: {
                    text: '近12个月负债还款'
                },
                tooltip: {},
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: "debt",
                    data: [],
                    type: 'line'
                }]
            });

            fetch("/debt")
                .then(function(response) {
                    if(response.ok) {
                        json = response.json()
                        return json
                    }
                })
                .then(function(json) {
                     myChartDebt.setOption({
                        xAxis: {
                            data: json['date'].reverse()
                        },
                        series: [{
                            name: 'debt',
                            data: json['debt'].reverse()
                        }]
                    });                        
                })
        </script>       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="../static/scripts/finance.js"></script>        
    </body>

</html>