/*巨幕*/
.jumbotron {
    text-align: left;
}

/*页脚*/
.footer {
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}

/*分割线*/
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

/*menu*/
.list-group-item {
    padding: 25px 10px 20px 20px;
}

.media-body {
    padding: 0px 15px;
}

#minus, #plus, #mealAmount {
    display:inline-block;
    width: 30px;
    text-align:center;
}


#price {
    padding: 5px 0;

    font-size: 25px;
    color: orange;
}

#priceTotal {
    display:inline-block;
    padding: 5px 0;

    font-size: 25px;    
    color: orange;
}

/*diary*/
.diary-section {
    margin-top: 40px;
}

.diary-context {
    margin-top: 20px;   
    font-size: 15px;
}